@import '../../global.scss';

.dashboard-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }
  }

  .document-container {
    padding: 0;
    margin: 0;

    ul {
      list-style-type: none;
    }
  }
}
